<section class="section-1">

    <img id="img1"
        [ngSrc]="imagem"
        [width]="largura"
        [height]="altura"
        [alt]="alt"
    >

    <img id="img2"
        [ngSrc]="imagem2"
        [width]="largura2"
        [height]="altura2"
        [alt]="alt2"
    >

    <div class="section-1-2">

        <h2> {{titulo}} </h2>

        <div class="linhaX"></div>

        <p class="desc" [innerHTML]="texto"></p>

        <a routerLink="/sobre-nos">

            <button class="btn-2">Saiba Mais</button>

        </a>
    </div>

    <div class="section-1-3">

        <h2> {{titulo}} </h2>

        <div class="linhaX"></div>

        <p class="desc" [innerHTML]="texto"></p>


        <a routerLink="/sobre-nos">

            <button class="btn-2">Saiba Mais</button>

        </a>

    </div>


</section>