<footer>

    <div class="footer-container">

        <div class="footer-logo">
            <img ngSrc="/imgs/logo.png" width="150" height="150">
            
            <p>Transformando vidas,<br>construindo sonhos.</p>

            <div class="redes">

                <a target="_blank" href="https://www.instagram.com/oscsonhadoresms/" class="iconss">
                    <img ngSrc="/icons/instagram.png" width="20" height="20" alt="instagram">
                </a>

                <a target="_blank" href="" class="iconss">
                    <img ngSrc="/icons/whatsapp.png" width="20" height="20" alt="whatsapp">
                </a>

            </div>

        </div>

        <div class="footer-menu">
            <h4>Menu</h4>
            <ul class="">
                <li><a href="">Início</a></li>
                <li><a href="pages/sobrenos.html">Sobre Nós</a></li>
                <li><a href="pages/projetos.html">Projetos</a></li>
                <li><a href="pages/doacao.html">Doação</a></li>
                <li><a href="pages/voluntario.html">Voluntário</a></li>
                <li><a href="#">Contato</a></li>
            </ul>
        </div>

        <div class="footer-contato">
            <h4>Contato</h4>

            <div class="contatos">

                <div class="iconss">
                    <img ngSrc="/icons/phone-call.png" width="20" height="20" alt="telefone">
                </div>

                <div class="contato-info">
                    <h5>Telefone</h5>
                    <p>(67) 99848-3630</p>
                </div>

            </div>

            <div class="contatos">

                <div class="iconss">
                    <img ngSrc="/icons/email.png" width="20" height="20" alt="email">
                </div>

                <div class="email-info">
                    <h5>Email</h5>
                    <p>sancatolico@hotmail.com</p>
                </div>

            </div>

            <div class="contatos">

                <div class="iconss">
                    <img ngSrc="/icons/local.png" width="20" height="20" alt="localização">
                </div>

                <div class="local-info">
                    <h5>Localização</h5>
                    <p>Av Rosário Congro, 281<br>Bosque da Saúde, Campo Grande/MS</p>
                </div>

            </div>

        </div>

    </div>


</footer>

<p id="marca">&copy; 2026 - Desenvolvido por Karleandro.</p>