.section-3 {
    position: relative;

    padding: 0px 40px;
    height: 400px;
    background-image: url('/imgs/imagem_doe.jpg');
    background-size: cover;
    // margin-bottom: 30px;
}

.numeros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100%;
    /* background-color: aqua; */
}

.numeros span {
    font-size: 42px;
    color: var(--cor-secundaria);
    font-weight: 1000;
}

.numeros p {
    color: white;
    font-weight: 800;
}

@media (max-width: 930px) {
    
    .section-3 {
            height: 700px;
        }

}
