/* TELA DOACAO */

.doacao-section {
  display: flex;
  justify-content: space-around;
  align-items: center; 
  padding: 40px;
  gap: 40px;
}

.versiculo {
  font-style: italic;
  margin-top: 20px;
  font-size: 13px;
}

.img-doacao {
  margin-top: 20px;
  max-width: 100%;
  border-radius: 12px;
}

.doacao-pix {
  flex: 1;
   max-width: 600px;
  text-align: center;
  align-items: center;
  justify-content: center;
}

.doacao-pix h3 {
  font-size: 20px;
  margin-bottom: 20px;
}

.doacao-pix p {
  font-size: 14px;
  margin: 6px 0;
}

.qr-doacao {
  margin-top: 20px;
  max-width: 200px;
  width: 100%;
}

.pix-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  margin-top: 20px;
}

#chave-pix {
  display: none;
}

.botao-copiar {
  background-color: var(--cor-secundaria);
  color: white;
  border: none;
  border-radius: 999px;
  padding: 10px 20px;
  font-size: 1rem;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 8px;
  transition: background-color 0.3s;
}

.botao-copiar:hover {
  background-color: var(--cor-primaria);
}

.icone {
  font-size: 1.2rem;
}

#testeee {
  width: 100%;
}