header {
    padding: 0px 40px;
    background-image: url('/imgs/teste2.jpg');
    background-position: top;
    background-size: cover;
    color: white;
    height: 450px;
}

.section-header {
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    /* flex-wrap: wrap; */
    /* gap: 40px; */
    
    max-width: 700px;
}

h1 {
    font-size: 50px;
    margin-bottom: 20px;
    line-height: 1.2; 
}

.linhaY {
    border-left: 3.5px solid  var(--cor-primaria); 
    padding-left: 16px;
    color: white; 
    max-width: 550px;
}

.linhaX {
    width: 100px;
    height: 3px;
    background-color: var(--cor-primaria);
    margin: 20px 0;
}

/* SECTION ACÕES */

.section-acao {
    display: flex;
    justify-content: space-between;
    color: white;
}

.section-doar {
    width: 50%;
    background-color: var(--cor-primaria);
    padding: 40px; 
    display: flex;
    flex-direction: column;
    justify-content: center;
    /* text-align: left; */
}

.section-voluntariar {
    width: 50%;
    background-color: var(--cor-secundaria);
    padding: 40px;
}

.section-voluntariar p {
    width: 70%;
}

h3 {
    font-size: 30px;
    /* margin-bottom: 20px; */
}

.section-doar .linhaX {
    background-color: var(--cor-secundaria);
}

.btn-2 {
    background-color: transparent;
    color: white;
    border: 1px solid white;
    padding: 12px 24px;
    margin: 30px 10px 0 0;
    border-radius: 8px;
    cursor: pointer;
    font-size: 16px;
    font-weight: 500;
    width: 60%;
}

/* PÁGINAS */

.header-2 {
    height: 350px;
}

.h1-2 {
    font-size: 36px; 
    padding-top: 50px;
}

.setinha {
    height: 25px; 
    padding: 0px 5px;
}

.svg {
    width: 20px;
    position: relative;
    top: 4px; /* move a imagem 20px para baixo */
    left: 5px;
}

// SECTION 2

.section-2 {
    padding: 0px 40px;
    /* font-size: 12px; */
    height: 150px;
    position: relative;
}

.section-2-1 {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 90%;
    z-index: 10;
    
    margin-top: 70px;
    display: flex;
    justify-content: space-around;
    height: 300px;

    padding: 0px 40px;
    border-radius: 30px;
    box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.266);
    align-items: center;
    background-color: white;
}

.section-2-1-1 {
    max-width: 550px;
}

.section-2-1  .btn-2 {
    background-color: var(--cor-primaria);
    margin: 50px;
    width: 70%;
}

.button-do-lado {
    align-items: center;
}

.section-3 {
    position: relative;

    padding: 0px 40px;
    height: 400px;
    background-image: url('/imgs/imagem_doe.jpg');
    background-size: cover;
    // margin-bottom: 30px;
}

.numeros {
    display: flex;
    justify-content: space-around;
    align-items: center;
    text-align: center;
    height: 100%;
    /* background-color: aqua; */
}

.numeros span {
    font-size: 42px;
    color: var(--cor-secundaria);
    font-weight: 1000;
}

.numeros p {
    color: white;
    font-weight: 800;
}

@media (max-width: 930px) {

    header {
        height: 550px;
    }

    h1 {
        font-size: 27px;
        max-width: 400px;
        line-height: 1.2; 
    }

    .section-header p {
        max-width: 280px;
    }

    p {
        font-size: 16px;
    }

    .section-acao {
        flex-direction: column;
        
    }

    .section-doar, .section-voluntariar {
        width: 100%;
    }

    .section-voluntariar p {
        width: 100%;
    }

    .btn-2 {
        width: 100%;
        margin: 20px 10px 0 0;
    }



    .section-2-1 {
        /* display: block;
         */
        display: flex;
        margin-top: 100px;
        justify-content: center;
        flex-direction: column;
        height: 400px;
        align-items: initial;
    }

    .section-2-1 h3 {
        font-size: 24px;
    }

    .section-2-1  .btn-2 {
        margin: 0px;
        width: 100%;
        align-items: normal;
    }

    .section-3 {
        height: 700px;
    }

    .section-4 {
        padding: 0px 40px;
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        text-align: center;
    }

}